<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css')}}">
</head>
<body>
<div class="block">
    <table width="100%" cellpadding="5">
        <tr>
            <td align="center" width="100%">
                <h2>В ходе генерации музыкального произведения возникли ошибки :(</h2>
            </td>
        </tr>
        <tr>
            <td align="center">
                <form action="{{ url_for('again') }}">
                    <input type=submit value="Попробовать снова!" class="btn btn-secondary">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>