<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css')}}">
</head>
<body>
<div class="block">
    <h3>Введите текст</h3>
    <form action="{{ url_for('handle_data') }}" method="post">
        <textarea maxlength="1000" rows="8" name="text" class="txt"></textarea>
        <table width="100%" cellpadding="5">
            <tr>
                <td align="left" width="50%">
                    Темп: <input type="number" min="60" max="180" value="100" step="5" name="temp">
                </td>
                <td align="right" width="50%">
                    <input type=submit value="Выполнить" class="btn btn-secondary">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>